[Desktop Entry]
Name=Notification Survey
Name[de]=Benachrichtigungs-Studie
Name[es]=Sondeo de notificaciones
Name[et]=Märguannete uurimine
Name[fr]=Vue d'ensemble des notifications
Name[hu]=Értesítés felmérés
Name[km]=ការ​ជូន​ដំណឹង​អំពី​ការ​ស្ទង់​មតិ
Name[nl]=Overzicht van meldingen
Name[pl]=Ankieta powiadamiania
Name[pt]=Questionário da Notificação
Name[pt_BR]=Avaliação de notificação
Name[sk]=Upozornenie na prieskum
Name[sv]=Underrättelseenkät
Name[tr]=Bildirim İncelemesi
Name[uk]=Огляд сповіщень
Name[x-test]=xxNotification Surveyxx
Comment=KDE Notification Survey
Comment[de]=Benachrichtigungs-Studie für KDE
Comment[es]=Sondeo de notificaciones para KDE
Comment[et]=KDE märguannete uurimine
Comment[fr]=Vue d'ensemble des notifications pour KDE
Comment[hu]=KDE Értesítés felmérés
Comment[km]=ការ​ជូន​ដំណឹង​អំពី​ការ​ស្ទង់មតិ​របស់ KDE
Comment[nl]=KDE overzicht van meldingen
Comment[pl]=Ankieta powiadamiania KDE
Comment[pt]=Questionário da Notificação do KDE
Comment[pt_BR]=Avaliação de notificação do KDE
Comment[sk]=Upozornenie na prieskum KDE
Comment[sv]=KDE underrättelseenkät
Comment[tr]=KDE Bildirim İncelemesi
Comment[uk]=Огляд сповіщень KDE
Comment[x-test]=xxKDE Notification Surveyxx
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_notificationsurvey
X-KDE-PluginInfo-Author=Matt Rogers
X-KDE-PluginInfo-Email=mattr@kde.org
X-KDE-PluginInfo-Name=notificationsurvey
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
